<html>
    <head>
        <title>Directivos</title>
    </head>
  <body>
    <h1>DIRECTIVA 2013 - 2014</h1>
    <center>
      <table class="directivos">
        <tr>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen17.jpg" %></img></center></td>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen4.jpg" %></img></center></td>
        </tr>
        <tr>
          <td><div class="titulos"><p>CBR. Gerardo Romero Loayza</p></div></td>
          <td><div class="titulos"><p>CBR. Marcia Sánchez Espinoza</p></div></td>
        </tr>
        <tr>
          <td><div class="titulos"><p>Presidente</p></div></td>
          <td><div class="titulos"><p>Vicepresidenta</p></div></td>
        </tr>
      </table>


      <table class="directivos">
        <tr>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen25.jpg" %></img></center></td>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen23.jpg" %></img></center></td>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen34.jpg" %></img></center></td>
        </tr>
        <tr>
          <td><div class="titulos"><p>Ab. Miguel Guanuche Cuenca</p></div></td>
          <td><div class="titulos"><p>Lcda. Alexandra Zambrano Cruz</p></div></td>
          <td><div class="titulos"><p>Ing. Lucio Martínez Amaya</p></div></td>
        </tr>
        <tr>
          <td><div class="titulos"><p>Secretario</p></div></td>
          <td><div class="titulos"><p>Pro-Secretaria</p></div></td>
          <td><div class="titulos"><p>Tesorero</p></div></td>
        </tr>

        <tr>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen19.jpg" %></img></center></td>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen24.jpg" %></img></center></td>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen31.jpg" %></img></center></td>
        </tr>
        <tr>
          <td><div class="titulos"><p>CBR. José Tamayo</p></div></td>
          <td><div class="titulos"><p>Ing. Mónica Nugra</p></div></td>
          <td><div class="titulos"><p>Tnlg. Miguel Chávez</p></div></td>
        </tr>
        <tr>
          <td><div class="titulos"><p>Vocal Principal</p></div></td>
          <td><div class="titulos"><p>Vocal Principal</p></div></td>
          <td><div class="titulos"><p>Vocal Principal</p></div></td>
        </tr>

        <tr>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen39.jpg" %></img></center></td>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen36.jpg" %></img></center></td>
          <td><center><img alt="" <%= image_tag "perfiles/Imagen27.jpg" %></img></center></td>
        </tr>
        <tr>
          <td><div class="titulos"><p>CBR. Freddy Reinoso</p></div></td>
          <td><div class="titulos"><p>CBR. Eliecer Ordoñez</p></div></td>
          <td><div class="titulos"><p>CBR. Dolores Abad</p></div></td>
        </tr>
        <tr>
          <td><div class="titulos"><p>Vocal Suplente</p></div></td>
          <td><div class="titulos"><p>Vocal Suplente</p></div></td>
          <td><div class="titulos"><p>Vocal Suplente</p></div></td>
        </tr>
      </table>
    </center>
    <br/>
  </body>
</html>
