

<head>
  <%= stylesheet_link_tag 'gmaps4rails'%>
  <%= stylesheet_link_tag 'paginacion'%>
  <%= javascript_include_tag "busqueda.js"%>

  <script>
      $(document).ready(function() {
      $('#province_select').change(function() {
        $.ajax({
        url: "<%= update_cantons_path %>",
        data: {
          province_id : $('#province_select').val()
        },
        dataType: "script"
        });
      });
      $('#canton_select').change(function() {
        $.ajax({
        url: "<%= update_parishes_path %>",
        data: {
          canton_id : $('#canton_select').val()
        },
        dataType: "script"
        });
      });
    });
    </script>
</head>

<a href="#" id="busqueda_avanzada"><p><img alt=""<%= image_tag "contenido/buscar_16.png" %></img> BUSQUEDA DE INMUEBLES</p></a>

<div id="busqueda_form">
  <fieldset>
    <legend>Formulario de Busqueda</legend>
    <br/>
<%= form_tag search_construction_path, :method => 'get' do %>
  <div id="general_busqueda_form">
  <table>
    <tr>
      <td><%= label_tag "Operacion: " %></td><td><%= select_tag :operation_id_search, options_from_collection_for_select(@operacion, "id", "oper_nombre", nil), :prompt => "Seleccione una Operacion", :style => "width:206px", :id => 'operation_select_search'%></td>
    </tr>
    <tr>
      <td><%= label_tag "Propiedad: " %></td><td><%= select_tag :property_id_search, options_from_collection_for_select(@propiedad, "id", "propd_nombre", nil), :prompt => "Seleccione un Tipo", :style => "width:206px", :id => 'property_select_search'%></td>
    </tr>
    <tr>
      <td><%= label_tag "Provincia: " %></td><td><%= select_tag :province_id_search, options_from_collection_for_select(@provincia, "id", "prov_nombre", nil), :prompt => "Seleccione una Provincia", :style => "width:206px", :id => 'province_select'%></td>
    </tr>
    <tr>
      <td><%= label_tag "Canton: " %></td><td><%= select_tag :canton_id_search, options_from_collection_for_select(@canton, "id", "prov_nombre", nil), :prompt => "Seleccione un Canton", :style => "width:206px", :id => 'canton_select'%></td>
    </tr>
    <tr>
      <td><%= label_tag "Inversion: " %></td><td><%= text_field_tag :precio_inmueble_1, nil, :class => "text_prec_inm_1", :id => "text_prec_inm_1", :style => "width:85px" %> - <%= text_field_tag :precio_inmueble_2, nil, :class => "text_prec_inm_2", :id => "text_prec_inm_2", :style => "width:85px" %></td>
    </tr>
  </table>
  </div>

  <div id="partes_busqueda_form">
  <table>
    <% @partes.in_groups_of(3, false).each do |pg| %>
      <tr>
      <% pg.each do |p|%>
          <td width="120px"><%= label_tag p.part_nombre%></td><td><%= text_field_tag "piece_id_search_" + "#{p.id}", nil, :class => "piece_id" + "#{p.id}", :id => "piece_id" + "#{p.id}", :style => "width:25px" %></td>
          <%= hidden_field_tag "piece_ids[]", p.id %>
      <%end%>
      </tr>
    <%end%>
  </table>
  </div>
    

  <div id="boton_busqueda_form"><%= submit_tag "Buscar" %></div>
    
   
<%end%>
 <br/>
</fieldset>
</div>


<h1>BIENES INMUEBLES</h1>
<div id="inm_tabla">
<% @inmueble.in_groups_of(4, false).each do |ig| %>
    <table border="1">
      <tr>
        <% ig.each do |i|%>
        <td width="220px">
          <!--<img alt="" width="270" height="200" <%#= image_tag "constructions/dep1.jpg" %></img>-->

     <div id="img_tabla">
          <% if i.images.exists?%>
            <%#= link_to (image_tag i.images.each.first.img_path.url(:thumb), :width=> 150, :height => 150), index_images_path(:construction_id => i.id)%>
            <a class="group2" <%= link_to (image_tag i.images.each.first.img_path.url(:thumb), :width => 200, :height => 200), index_images_path(:construction_id => i.id)%></a>
            <br/>
          <%else%>
            <img alt="" width="200" height="200" <%= image_tag "constructions/no_image_construction.png" %></img><br/>
          <%end%>
          <%= i.parish.canton.province.prov_nombre + " - " + i.parish.canton.cant_nombre%>
     </div>









          
          <div id="text_tabla">
            <%= i.operation.oper_nombre + " de " + i.property.propd_nombre + " ubicado en el sector " + i.inm_ciudadela%><br/><br/>
            <!--Calle: <%#= i.inm_calle %><br/>
            Latitud: <%#= i.latitude %><br/>
            Longitud: <%#= i.longitude %><br/>
            Conjunto: <%#= i.inm_conjunto %><br/>-->
            Inversion: $ <%= i.inm_val_merc %><br/><br/>
            <%= link_to "Ver mas...", i%>
          </div>
        </td>
        <%end%>
      </tr>
    </table>
  <% end %>
</div>
<br/>

<div class="digg_pagination">
  <%= will_paginate @inmueble %>
</div>
<br/>
<%= render "importante" %>
<br/><br/>
<%#= gmaps4rails(@json) %>
<%= gmaps("map_options" => { :raw => "{scrollwheel: false}"},"markers" => { "data" => @json }) %>
<br/>


<!--
<html>
 

<body>
    
    <div id="fotos_inm">
      <img alt="" width="248" height="180" <%#= image_tag "inicio/cas1.jpg" %></img>
      <img alt="" width="248" height="180" <%#= image_tag "inicio/cas2.jpg" %></img>
      <img alt="" width="248" height="180" <%#= image_tag "inicio/cas3.jpg" %></img>
      <img alt="" width="248" height="180" <%#= image_tag "inicio/cas4.jpg" %></img>
    </div>
</body>
</html>-->