<%= stylesheet_link_tag "tablas.css", :media => "screen" %>
<%= label_tag nil, (">> " + @province.prov_nombre), :class=>"negrita" %>
<div id="tabla">
  <table class="bordered">
    <th><div class="titulos"><p>Canton</p></div></th>
    <th><div class="titulos"><p>Acciones</p></div></th>
    <% @cantones.each do |c| %>
      <tr>
        <td><%= label_tag nil, (link_to '+', index_parish_path(:canton_id => c.id))%><%= label_tag nil, c.cant_nombre %></td>
        <td><%= label_tag nil, (link_to (image_tag "contenido/edit16.png"), :action => "edit", :id => c.id) %><%= label_tag nil, (link_to (image_tag "contenido/delete16.png"), c, :method => "delete", :confirm => "¿Esta seguro?") %></td>
      </tr>
    <% end %>
    <%= form_for @canton do |c|%>
      <tr>
        <td><%= c.text_field :cant_nombre %></td>
        <%= c.hidden_field :province_id, value: @id %>
        <td><%= label_tag nil, image_submit_tag("contenido/add2-16.png")%></td>
      </tr>
    <%end%>
  </table>
</div>
<%#= link_to 'Agregar nuevo canton', new_canton_path(:province_id => @id) %>