<%= stylesheet_link_tag "tablas.css", :media => "screen" %>
<div id="tabla">
  <table class="bordered">
    <th><div class="titulos"><p>Nombre Division</p></div></th>
    <th><div class="titulos"><p>Acciones</p></div></th>
    <% @partes.each do |p| %>
      <tr>
        <td><%= label_tag nil, p.part_nombre %></td>
        <td><%= label_tag nil, (link_to (image_tag "contenido/edit16.png"), :action => "edit", :id => p.id) %><%= label_tag nil, (link_to (image_tag "contenido/delete16.png"), p, :method => "delete", :confirm => "¿Esta seguro?") %></td>
      </tr>
    <% end %>
    <%= form_for @parte do |p|%>
      <tr>
        <td><%= p.text_field :part_nombre %></td>
        <td><%= label_tag nil, image_submit_tag("contenido/add2-16.png")%></td>
      </tr>
    <%end%>
  </table>
</div>