<%= stylesheet_link_tag "tablas.css", :media => "screen" %>
<div id="tabla">
  <table class="bordered">
    <th><div class="titulos"><p>Metodo de Depreciacion</p></div></th>
    <th><div class="titulos"><p>Acciones</p></div></th>
    <% @depreciaciones.each do |d| %>
      <tr>
        <td><%= label_tag nil, (link_to '+', index_state_path(:rebate_id => d.id))%><%= label_tag nil, d.met_nombre %></td>
        <%#= d.met_nivel %>
        <td><%= label_tag nil, (link_to (image_tag "contenido/edit16.png"), :action => "edit", :id => d.id) %><%= label_tag nil, (link_to (image_tag "contenido/delete16.png"), d, :method => "delete", :confirm => "¿Esta seguro?") %></td>
      </tr>
    <% end %>
    <%= form_for @depreciacion do |d|%>
      <tr>
        <td><%= d.text_field :met_nombre %></td>
        <td><%= label_tag nil, image_submit_tag("contenido/add2-16.png")%></td>
      </tr>
    <%end%>
  </table>
</div>
<%#= link_to 'Agregar nuevo metodo de depreciacion', new_rebate_path %>