<%= stylesheet_link_tag "tablas.css", :media => "screen" %>
<div id="tabla">
  <table class="bordered">
    <th><div class="titulos"><p>Tabla de Avaluo</p></div></th>
    <th><div class="titulos"><p>Acciones</p></div></th>
    <% @tablas_avaluos.each do |ta| %>
      <tr>
        <td><%= label_tag nil, ta.aval_descrip %></td>
        <td><%= label_tag nil, (link_to (image_tag "contenido/edit16.png"), :action => "edit", :id => ta.id) %><%= label_tag nil, (link_to (image_tag "contenido/delete16.png"), ta, :method => "delete", :confirm => "¿Esta seguro?") %></td>
      </tr>
    <% end %>
    <%= form_for @tabla_avaluo do |ta|%>
      <tr>
        <td><%= ta.text_field :aval_descrip %></td>
        <td><%= label_tag nil, image_submit_tag("contenido/add2-16.png")%></td>
      </tr>
    <%end%>
  </table>
</div>
<%#= link_to 'Agregar nuevo campo de avaluo', new_price_path %>