<%= stylesheet_link_tag "tablas.css", :media => "screen" %>
<div id="tabla">
  <table class="bordered">
    <th><div class="titulos"><p>Nombre de Rol</p></div></th>
    <th><div class="titulos"><p>Acciones</p></div></th>
    <% @roles.each do |f| %>
      <tr>
        <td><%= label_tag nil, f.rol_nombre %></td>
        <td><%= label_tag nil, (link_to (image_tag "contenido/edit16.png"), :action => "edit", :id => f.id) %><%= label_tag nil, (link_to (image_tag "contenido/delete16.png"), f, :method => "delete", :confirm => "¿Esta seguro?") %></td>
      </tr>
    <% end %>
    <%= form_for @role do |f|%>
      <tr>
        <td><%= f.text_field :rol_nombre %></td>
        <td><%= label_tag nil, image_submit_tag("contenido/add2-16.png")%></td>
      </tr>
    <%end%>
  </table>
</div>
<%#= link_to 'Agregar nuevo rol', new_role_path %>