<!DOCTYPE html>
<html>
  <head>
    <title>.:ASOCIOCIÓN DE CORREDORES DE BIENES RAÍCES DE EL ORO:.</title>
    <%= favicon_link_tag 'Home.ico' %>
    <!-- Ruta de los archivos css -->
    <%= stylesheet_link_tag "estructura.css", :media => "screen" %>
    <!-- Estilo del formulario usuarios -->
    <%= stylesheet_link_tag "style.css", :media => "screen"%>
    <!--Hasta aqui-->
    <%= stylesheet_link_tag "cabecera.css", :media => "screen" %>
    <%= stylesheet_link_tag "menu.css", :media => "screen" %>
    <%= stylesheet_link_tag "contenido.css", :media => "screen" %>
    <%= stylesheet_link_tag "informacion.css", :media => "screen" %>
    <%= stylesheet_link_tag "global.css", :media => "screen" %>
    <%= stylesheet_link_tag "login.css", :media => "screen" %>
    <%= stylesheet_link_tag "enlaces.css", :media => "screen" %>
      
    <!-- Ruta de los archivos javascripts -->
    <%= javascript_include_tag "application.js"%>
    <%#= javascript_include_tag '/constructions/update_cantons.js.erb' %>
    <%#= javascript_include_tag :defaults%>
    <%#= yield(:head) %>
    <%#*<script language="JavaScript" type="text/javascript" src="/javascripts/jQuery.js"></script>%>
    <%#= javascript_include_tag "menu_fixed.js"%>
    <script language="JavaScript" type="text/javascript" src="/javascripts/cycle.js"></script>
    <script language="JavaScript" type="text/javascript" src="/javascripts/leermas.js"></script>
    <script language="JavaScript" type="text/javascript" src="/javascripts/login.js"></script>
    <script language="JavaScript" type="text/javascript" src="/javascripts/slides.min.jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="/javascripts/menu_fixed.js"></script>
    
    <%= csrf_meta_tags %>    
    <!-- Slide de cabecera -->
    <script type="text/javascript">
      $('#rotator').cycle('fade');
    </script>
    <!-- Cargar el contenido en la misma pagina -->

    <!-- Slide de informacion -->
    <script type="text/javascript">
      $(function()
      { // Set starting slide to 1
        var startSlide = 1;
        // Get slide number if it exists
        if (window.location.hash)
        { startSlide = window.location.hash.replace('#','');}
        // Initialize Slides
        $('#slides').slides(
        { preload: true,
          preloadImage: '../images/informacion/loading.gif',
          generatePagination: false,
          play: 5000,
          pause: 2500,
          hoverPause: true,
          // Get the starting slide
          start: startSlide,
          animationComplete: function(current)
          { // Set the slide number as a hash
            window.location.hash = '#' + current;
          }
        });
      });
    </script>

  </head>
  <body>
    <div id ="contenedor">

    <%if current_user.nil? == true%>
      <div id="cabecera">
        <div id ="rotator">
          <img alt="" width="868" height="268" <%= image_tag "cabecera/bann1.jpg" %></img>
          <img alt="" width="868" height="268" <%= image_tag "cabecera/bann2.jpg" %></img>
          <img alt="" width="868" height="268" <%= image_tag "cabecera/bann3.jpg" %></img>          
        </div>
      </div>
    <%end%>


   <div class="page">

    <div class="sidebar">
    <div class="tofix">
      <div id ="menus">
        <ul class="menu">
          <%if current_user.nil? == true%> <li><a <%= link_to 'Inicio', index_path%></a></li> <%end%>
          <li><a href="">Asociacion</a>
            <ul class ="submenu">
              <li><a <%= link_to 'Reseña Historica', resena_path%></a></li>
              <li><a <%= link_to 'Código de Ética', etica_path%></a></li>
              <li><a <%= link_to 'Ley de Corredores', ley_path%></a></li>
              <li><a <%= link_to 'Reglamento', reglamento_path%></a></li>
              <li><a <%= link_to 'Directivos', directivos_path%></a></li>
              <li><a <%= link_to 'Mision - Vision', mision_path%></a></li>
              <!--<li><a <%#= link_to 'Vision', vision_path%></a></li>-->
              <!--<li><a <%#= link_to 'Estatutos', 'Estatutos-ACBRO.pdf', :target => '_blank'%></a></li>-->
            </ul>
          </li>
          <% if current_user %>
            <li><a <%= link_to 'Agenda', index_diary_path(:usuario_id => current_user.id)%></a></li>
            <%# rol = Role.find(current_rol) %>
            <%Role.where(:id => current_rol).each do |rol| %>
          
            
              <% if rol.rol_nombre == "Administrador" %>

          <li><a <%= link_to 'Configuracion'%></a>
            <ul class="submenu">
              <li><a <%= link_to 'Avaluos'%></a>
                <ul>
                  <li><a <%= link_to 'Parte Externa', index_price_path%></a></li>
                  <li><a <%= link_to 'Parte Interna', index_piece_path%></a></li>
                  <li><a <%= link_to 'Parametros', index_parameter_path%></a></li>
                  <li><a <%= link_to 'Descripciones', index_description_path%></a></li>
                  <li><a <%= link_to 'Depreciaciones', index_rebate_path%></a></li>
                </ul>
              </li>
              <li><a <%= link_to 'Personal'%></a>
                <ul>
                  <li><a <%= link_to 'Usuarios', index_usuarios_path%></a>
                  
                  <!--<ul>
                    <%# for usuarios_roles in lista_roles %>
                    <li> <a <%#= link_to usuarios_roles.rol_nombre%></a></li>
                    <%#end%>
                  </ul>-->
                  
                    </li>
                  <li><a <%= link_to 'Roles', index_role_path%></a></li>
                </ul>
              </li>
              <li><a <%= link_to 'Propiedades'%></a>
                <ul>
                  <li><a <%= link_to 'Tipos de Propiedad', index_property_path%></a></li>
                  <li><a <%= link_to 'Tipos de Operacion', index_operation_path%></a></li>
                  <li><a <%= link_to 'Medios de Captacion', index_channel_path%></a></li>
                </ul>
              </li>
              <li><a <%= link_to 'Ubicacion'%></a>
                <ul>
                  <li><a <%= link_to 'Provincias', index_province_path%></a></li>
                  <li><a <%= link_to 'Cantones'%></a></li>
                  <li><a <%= link_to 'Parroquias'%></a></li>
                </ul>
              </li>
            </ul>
          </li>

            
            <%end%> <!-- FIN DE LA CONDICION IF-->

            <% if rol.rol_nombre == "Tesorero" %>
              <li><a <%= link_to 'Pagos', index_usuarios_path%></a></li>
            <%end%>
          <%end%> <!-- FIN DE LA CONDICION EACH-->



          
          
            <li><a <%= link_to 'Inmuebles', index_construction_path%></a></li>
            <li><a <%= link_to 'Demandantes', index_person_path%></a></li>
            <li><a <%= link_to 'Novedades', novedades_path%></a></li>
            <li><a <%= link_to 'Contacto', contacto_path%></a></li>
            <li><a <%= link_to "Salir", log_out_path %></a></li>
            <div id="foto_usuario"><a <%= link_to (image_tag current_user.usu_foto.url(:small), :width=>40, :height=>40), edit_usuarios_path(:usuario_id => current_user, :persona_id => current_person) %></a></div>
          <%else%>
            <li><a <%= link_to 'Novedades', novedades_path%></a></li>
            <li><a <%= link_to 'Contacto', contacto_path%></a></li>
            
            <div id="loginContainer">
                <a href="#" id="loginButton"><span>Iniciar Sesion</span><em></em></a>
                <div style="clear:both"></div>
                <div id="loginBox">
                  <section class="container">
                    <div id="login">
                    <%= form_tag sessions_path, :id => "loginForm" do %>
                      <div>
                        <br/>
                        <!--<label><%#= label_tag :Usuario %></label><br/>-->
                        <%= text_field_tag :usu_username, params[:usu_username], :placeholder=> 'Nombre de Usuario' %><br/>
                      </div>
                      <div>
                        <br/>
                        <!--<label><%#= label_tag :Contraseña %></label><br/>-->
                        <%= password_field_tag :usu_password, params[:usu_password], :placeholder=>'Contraseña' %><br/>
                      </div>
                      <div>
                        <br/>
                        <%= submit_tag "Iniciar Sesion"%>
                      </div>
                    <% end %>
                      </div>
                  </section>
                </div>
              </div>
              
            
          <%end%>

          
          
        </ul>
      </div>
</div>
</div>
<!-- Cerrar el div del sidebar-->






<div id="lateral_izquierdo">
    <section class="container">
      <div id="login_2">
        <% if current_user %>
          Bienvenido <%= current_user.usu_username %>
          <%= image_tag current_user.usu_foto.url(:small) %><br/>
          <%#= link_to "Editar Perfil", log_out_path %>
          <%= link_to "Editar Perfil", edit_usuarios_path(:usuario_id => current_user, :persona_id => current_person) %><br/>
        <% else %>
          <%= form_tag sessions_path do %>
            <div>
              <br/>
              <!--<label><%#= label_tag :Usuario %></label><br/>-->
              <%= text_field_tag :usu_username, params[:usu_username], :placeholder=> 'Nombre de Usuario' %><br/>
            </div>
            <div>
              <br/>
              <!--<label><%#= label_tag :Contraseña %></label><br/>-->
              <%= password_field_tag :usu_password, params[:usu_password], :placeholder=>'Contraseña' %><br/>
            </div>
            <div>
              <br/>
              <%= submit_tag "Iniciar Sesion"%>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>

<!--AQUI ESTABAN LOS ENLACES-->
      
  </div>

      <div id="contenido">
        <%= yield %>
        <%= yield :scripts %>
      </div>



      <div id="informacion">
        <!--Informacion-->
        <div id="slides">
          <div class="slides_container">

            <div class="slide">
              <div class="texto">
                <h1>Decálogo del Corredor Inmobiliario</h1>
                <p class="truncateMe"> La Federación Nacional de Corredores de Bienes Raíces del Ecuador
                ha dispuesto se realicen dos documentos de caracter, digamoslo así,
                espiritual, para entregar a sus asociados en su proxima Asamblea a
                realizarse en la provincia de El Oro.
                El uno, el DECÁLOGO DEL CORREDOR INMOBILIARIO, el otro,
                LA ORACIÓN DEL CORREDOR. A continuación les ofrecemos uno de los
                textos preliminares cuya aprobación tiene que resolver el
                organismo rector de los corredores. Que lo disfruten.
                </p>
              </div>
              <div class="imagen">
                <img alt="" width="248" height="180" <%= image_tag "informacion/casa1.jpg" %></img>
              </div>
            </div>

            <div class="slide">
              <div class="texto">
                <h1>Impuesto a las tierras rurales</h1>
                <p class="truncateMe"> El Impuesto a las Tierras Rurales en el Ecuador
                  constituye un referente significativo de incentivo a la producción
                  agrícola, ya que induce a los propietarios de predios rurales a
                  evitar que sus tierras continúen ociosas y de esta forma beneficiarse
                  del no pago de dicho impuesto por estar generando renta por la
                  producción de la tierra. De igual manera este impuesto contribuye
                  como fuente de financiación para la ejecución de múltiples obras
                  para el desarrollo del país.
                </p>
              </div>
              <div class="imagen">
                <img alt="" width="248" height="180" <%= image_tag "informacion/casa2.jpg" %></img>
              </div>
            </div>


          </div>

          <a href="#" class="prev"><img width="24" height="43" alt="Anterior" <%= image_tag "informacion/prev.png" %></img></a>
          <a href="#" class="next"><img width="24" height="43" alt="Siguiente" <%= image_tag "informacion/next.png" %></img></a>


        </div>
      </div>

      <div id="enlaces">
        <p>Enlaces de Interés</p>
        <div id ="logotipos">
          <a href="http://www.conenbiera.com/" target="_blank"><img alt="" width="90" height="50" <%= image_tag "enlaces/conenbiera.png" %></img></a>
          <a href="http://inmobiliariaconsaler.blogspot.com/" target="_blank"><img alt="" width="90" height="50" <%= image_tag "enlaces/consaler.jpg" %></img></a>
          <a href="http://www.funcionjudicial.gob.ec/" target="_blank"><img alt="" width="80" height="50" <%= image_tag "enlaces/judicatura.png" %></img></a>
          <a href="http://www.cortenacional.gob.ec/" target="_blank"><img alt="" width="100" height="50" <%= image_tag "enlaces/corte.png" %></img></a>
          <a href="http://www.guimun.com/ecuador/negocios/3638/" target="_blank"><img alt="" width="80" height="50" <%= image_tag "enlaces/fenacbre.png" %></img></a>
          <a href="http://www.inmagui.com/" target="_blank"><img alt="" width="100" height="50" <%= image_tag "enlaces/aguirre.png" %></img></a>
          <a href="http://www.orenses.com/" target="_blank"><img alt="" width="100" height="50" <%= image_tag "enlaces/bienes_el_oro.png" %></img></a>
        </div>
        <br/>
      </div>

      <div id="pie">
        <p>Desarrollado por: EL GRAN HASAN</p>
      </div>


</div>


      
    </div>
  </body>
</html>